body{
	text-align: center;
}
.box{
	height: 120px;
	width: 120px;
	border: 8px solid black;
	border-radius: 20%;
	margin: 1.5rem;
}
.box-container{
	display: flex;
	justify-content: center;
}
.red{
	background-color: red ;
}
.yellow{
	background-color: yellow;
}
.green{
	background-color: green;
}
.blue{
	background-color: blue;
}
.flash{
	background-color: white;
}
.userFlash{	
	background-color: chocolate;
}